body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

button{ 
	position: absolute;   
	height: auto; width: 100px;    
	left: 500px; top: 9px;
}

p{
    position: absolute;   
	height: auto; width: 100px;    
	left: 500px; top: 50px;
}

ul { 
    padding-left: 500px;
    padding-top: 50px;
 }

